<html lang="pt-br" class="overflow-hidden h-screen">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Início</title>
<meta name="description" content="Bem vindo a VenusCraft, uma rede de servidores que provem diversão aos seus jogadores!">
<meta name="author" content="VenusCraft Organization">
<meta name="robots" content="index, follow">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://venuscraft.github.io">
<meta property="og:type" content="website">
<meta property="og:title" content="VenusCraft">
<meta property="og:description" content="Bem vindo a VenusCraft, uma rede de servidores que provem diversão aos seus jogadores! Entre e explore um vasto mundo cheio de jogadores e possíveis aventuras!">
<meta property="og:image" content="https://res.cloudinary.com/di3l1hqok/image/upload/v1735678283/My%20Brand/12_Sem_Titulo_20241108095213_hhmrcb.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="venuscraft.github.io">
<meta property="twitter:url" content="https://venuscraft.github.io">
<meta name="twitter:title" content="VenusCraft">
<meta name="twitter:description" content="Bem vindo a VenusCraft, uma rede de servidores que provem diversão aos seus jogadores! Entre e explore um vasto mundo cheio de jogadores e possíveis aventuras!">
<meta name="twitter:image" content="https://res.cloudinary.com/di3l1hqok/image/upload/v1735678283/My%20Brand/12_Sem_Titulo_20241108095213_hhmrcb.png">
<style>
@import url('https://fonts.cdnfonts.com/css/minecraftia'); 
</style>
<script src="https://cdn.tailwindcss.com"></script>

<link rel="icon" href="/public/venus-logo-wplanet.png" type="image/x-icon">

</head>
<body class="relative w-screen h-screen bg-cover bg-center overflow-x-hidden" style="background-image: url('background-lobby.png');">

    <!-- Elementos do background principal -->
    <div class="fixed inset-0 bg-black opacity-60 h-auto"></div>
    <div class="relative z-10 h-max">

    <!-- Barra de navegação -->

    <div class="bg-neutral-800/50 backdrop-blur-xl fixed w-full text-center border-b border-gray-500/50">
        <nav class="py-5">
            <ul class="flex justify-center space-x-8 font-Minecraftia text-white">
                <li><a href="/sobre" class="hover:text-cyan-300 transition">Sobre</a></li>
                <li><a href="/" class="hover:text-cyan-300 transition">Início</a></li>
                <li><a href="/suporte" class="hover:text-cyan-300 transition">Suporte</a></li>
            </ul>
        </nav>
    </div>

<!-- Conteúdo principal -->

<img src="https://res.cloudinary.com/di3l1hqok/image/upload/v1735678283/My%20Brand/12_Sem_Titulo_20241108095213_hhmrcb.png" alt="Logo da Venus Craft." class="mx-auto animate-fadeIn cursor-pointer transition-transform duration-301 transition-filter duration-300 p-1" width="550" height="550">

<p class="text-center font-Minecraftia text-gray-100 m-5 -mt-20"> Somos um servidor de Minecraft que trás diversão e entreterimento aos nossos jogadores de PC, celular ou console! Navegue usando a barra de navegação para obter suporte ou saber mais sobre o nosso servidor, quem criou e o que tem de bom! </p>

<!-- Galeria de fotos (ava) -->


<!-- Icones das social media english thank-you duolango -->

<div class="relative z-10 flex justify-center items-center h-screen space-x-6 -m-60">
    <!-- GitHub -->
    <a href="https://github.com/venuscraft"  class="social-icon">
    <img src="https://res.cloudinary.com/di3l1hqok/image/upload/v1735742802/github_jxy3rv.svg" alt="GitHub Logo" class="w-12 h-12 cursor-pointer transition-transform duration-301 transition-filter duration-300 filter brightness-0 invert hover:scale-110 hover:brightness-50"/> </a>

    <a href="https://discord.gg/6qXh6z78wM" class="social-icon">
    <img src="https://res.cloudinary.com/di3l1hqok/image/upload/v1735742801/discord_ocgthv.svg" alt="Discord Logo" class="w-12 h-12 cursor-pointer transition-transform duration-301 transition-filter duration-300 filter brightness-0 invert hover:scale-110 hover:brightness-50"/> </a>

     <!-- GitBook /s -->
     <a href="https://gitbook.com" class="social-icon">
    <img src="https://res.cloudinary.com/di3l1hqok/image/upload/v1735742809/gitbook_xg351h.svg" alt="Gitbook Logo" class="w-12 h-12 cursor-pointer transition-transform duration-301 transition-filter duration-300 filter brightness-0 invert hover:scale-110 hover:brightness-50"/> </a>
  
     <!-- AdTube -->
    <a href="Youtube Logo" class="social-icon">
    <img src="https://res.cloudinary.com/di3l1hqok/image/upload/v1735742801/youtube_apzi32.svg" alt="Youtube Logo" class="w-12 h-12 cursor-pointer transition-transform duration-301 transition-filter duration-300 filter brightness-0 invert hover:scale-110 hover:brightness-50"/> </a>

    <!-- Spytok -->
    <a href="https://nextdns.io" class="social-icon">
    <img src="https://res.cloudinary.com/di3l1hqok/image/upload/v1735742809/tiktok_bvdhrw.svg" alt="Tiktok Logo" class="w-12 h-12 cursor-pointer transition-transform duration-301 transition-filter duration-300 filter brightness-0 invert hover:scale-110 hover:brightness-50"/> </a>
  </div>

<div>
<footer class="font-Minecraftia text-center text-gray-50 m-2 p-16 left-0 w-full">
A Venus Craft não é afiliada a Mojang AB ou Microsoft Corporation, todo o conteúdo é mantido por terceiros.
</footer>
</div>


</div>
</body>
</html>