<html lang="pt-br" class="overflow-hidden h-screen">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sobre</title>
<meta name="description" content="Sobre a Venus Craft, quem criou? O que tem? Só veja a página!">
<meta name="author" content="VenusCraft Organization">
<meta name="robots" content="index, follow">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://venuscraft.github.io">
<meta property="og:type" content="website">
<meta property="og:title" content="Sobre">
<meta property="og:description" content="Sobre a Venus Craft, quem criou? O que tem? Só veja a página!">
<meta property="og:image" content="https://res.cloudinary.com/di3l1hqok/image/upload/v1735678283/My%20Brand/12_Sem_Titulo_20241108095213_hhmrcb.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="venuscraft.github.io">
<meta property="twitter:url" content="https://venuscraft.github.io">
<meta name="twitter:title" content="Sobre">
<meta name="twitter:description" content="Sobre a Venus Craft, quem criou? O que tem? Só veja a página!">
<meta name="twitter:image" content="https://res.cloudinary.com/di3l1hqok/image/upload/v1735678283/My%20Brand/12_Sem_Titulo_20241108095213_hhmrcb.png">
<style>
@import url('https://fonts.cdnfonts.com/css/minecraftia'); 
</style>

<link rel="icon" href="/public/venus-logo-wplanet.png" type="image/x-icon">

</head>
<body>

 <h1 class="text-center text-gray-50 font-Minecraftia"> Sobre nós </h1>










</body>