body {
    background-color: rgb(0, 0, 0);
    font-family: 'Minecraftia';
    height: auto;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#00000080, rgba(1, 1, 1, 0.5)), url('https://cdn.discordapp.com/attachments/1318548112100298853/1321514995757875290/2024-12-25_08.50.02.png?ex=676d843f&is=676c32bf&hm=b4a056200a5971a0204ba981ef099cd90da2fa8808e459996eb32f91776c2e74&');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
padding: 0;
margin: 0;
box-sizing: border-box;

}

/* Estilo geral da navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: -5;
    background-color: rgba(36, 36, 36, 0.7);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(10px); /* safari is so good if you are in apple ecosystem!!! */
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px rgb(61, 61, 61);
  }
  
  .navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    height: 60px; /* Altura da navbar */
  }
  
  .navbar nav ul li {
    padding: 0 20px;
  }
  
  .navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
  }
  
  .navbar nav ul li a:hover {
    color: #0ef3ff; /* Cor ao passar o mouse */
  }
  


h1 {
    padding: 15dvh;
    text-align: center;
    font:-size 45px;
}

p {
    text-align: center;
    margin: 0 auto;
    text-align: justify;
    margin: 20px;
 }

 h2 {
  text-align: center;
  padding-top: 80px;
 }

 .paragarfo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragrafo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragrafo {
  text-align: center;
  max-width: 100%;
}


/* Estilo do container de mídia */
.cointainer-media {
  text-align: center;
  padding: 20px;
  height: 300px; /* Altura fixa para o container */
  overflow: hidden; /* Garante que o conteúdo extra não apareça */
  box-sizing: border-box; /* Garante que o padding não afete a largura */
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza os ícones dentro do container */
}

/* matar margens e paddings indesejados em todos os elementos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garantir que o body ocupe toda a altura da tela */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container principal do conteúdo da página */
main {
  flex: 1; /
}

/* Estilo do footer */
footer {
  position: relative;
  z-index: 10;
  padding: 110px 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-top: auto; 
}

/* Estilo dos links dos ícones */
.social-icon {
  text-decoration: none;
}

/* Estilo dos ícones no footer */
.social-icon img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s, filter 0.3s;
  margin: 0 13px;
  filter: brightness(0) invert(1);
  margin-top: 200px;
}

/* Efeito de hover nos ícones */
.social-icon img:hover {
  transform: scale(1.2);
  filter: brightness(1.3) invert(1);
}

/* footer */
.footer-text {
  text-align: center;
  text-align: center;
  font-size: 10px;
  padding: 10px 0;
  line-height: 1.9;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  width: 90%;
}

.footer-subtext {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgb(34, 34, 34);
}