body {
    background-color: rgb(0, 0, 0);
    font-family: 'Minecraftia';
    height: 100dvh;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
}

/* Estilo geral da navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: -5;
    background-color: rgba(36, 36, 36, 0.7);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(10px); /* safari is so good if you are in apple ecosystem!!! */
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    height: 60px; /* Altura da navbar */
  }
  
  .navbar nav ul li {
    padding: 0 20px;
  }
  
  .navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
  }
  
  .navbar nav ul li a:hover {
    color: #0ef3ff; /* Cor ao passar o mouse */
  }
  
/* Conteudos */

  h1 {
    padding: 10dvh;
    text-align: center;
    font:-size 45px;
}
